In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import warnings
from pathlib import Path
from datetime import datetime

# Configure plotting
plt.style.use('default')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 8)
warnings.filterwarnings('ignore')

print("‚úÖ Libraries imported successfully!")
print(f"üìä Pandas version: {pd.__version__}")
print(f"ÔøΩÔøΩ Matplotlib version: {plt.matplotlib.__version__}")

‚úÖ Libraries imported successfully!
üìä Pandas version: 2.2.2
ÔøΩÔøΩ Matplotlib version: 3.9.2

In [2]:
def load_csv_data(file_path, sample_size=None):
    """Load CSV data with optional sampling"""
    try:
        if file_path.endswith('.gz'):
            df = pd.read_csv(file_path, compression='gzip')
        else:
            df = pd.read_csv(file_path)
        
        if sample_size and len(df) > sample_size:
            df = df.sample(n=sample_size, random_state=42)
        
        print(f"‚úÖ Loaded {file_path}")
        print(f"   üìè Shape: {df.shape}")
        print(f"   ÔøΩÔøΩ Memory: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
        
        return df
    except Exception as e:
        print(f"‚ùå Error loading {file_path}: {e}")
        return None

def load_geojson_data(file_path):
    """Load GeoJSON data"""
    try:
        with open(file_path, 'r') as f:
            geojson_data = json.load(f)
        
        print(f"‚úÖ Loaded {file_path}")
        print(f"   üìç Features: {len(geojson_data.get('features', []))}")
        
        return geojson_data
    except Exception as e:
        print(f"‚ùå Error loading {file_path}: {e}")
        return None

def display_data_info(df, name):
    """Display comprehensive information about a dataset"""
    print(f"\nüìä {name} Dataset Overview:")
    print(f"   üìè Shape: {df.shape}")
    print(f"   üìã Columns: {list(df.columns)}")
    print(f"   ÔøΩÔøΩ Memory: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
    print(f"   ‚ùì Missing values: {df.isnull().sum().sum()}")
    print(f"   ÔøΩÔøΩ Duplicates: {df.duplicated().sum()}")
    
    # Show data types
    print(f"\nüìù Data Types:")
    print(df.dtypes.value_counts())
    
    # Show first few rows
    print(f"\nüëÄ First 3 rows:")
    print(df.head(3))
    print("\n" + "="*60)

In [3]:
print("üöÄ Loading Airbnb datasets...\n")

# Load listings data (prefer uncompressed)
if Path('listings.csv').exists():
    listings_df = load_csv_data('listings.csv')
else:
    listings_df = load_csv_data('listings.csv.gz')

üöÄ Loading Airbnb datasets...

‚úÖ Loaded listings.csv
   üìè Shape: (21722, 18)
   ÔøΩÔøΩ Memory: 9.78 MB

In [4]:
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,31094,"Beautiful, spacious, central, renovated Penthouse",129976,Ebbe,NaN,Vesterbro-Kongens Enghave,55.666602,12.555283,Entire home/apt,NaN,3,19,2022-08-22,0.11,1,0,0,NaN
1,32379,"155 m2 artist flat on Vesterbro, with 2 bathrooms",140105,Lise,NaN,Vesterbro-Kongens Enghave,55.672638,12.552493,Entire home/apt,NaN,3,84,2024-10-28,0.47,2,0,3,NaN
2,32841,Cozy flat for Adults/Quiet for kids,142143,Anders & Maria,NaN,sterbro,55.711760,12.570910,Entire home/apt,NaN,100,7,2016-09-15,0.04,1,15,0,NaN
3,38499,0 min. from everything in Cph.,122489,Christina,NaN,Indre By,55.684288,12.573019,Entire home/apt,2550.0,7,34,2024-09-21,0.19,1,52,10,NaN
4,39055,Stylish apartment in central Copenhagen,167511,Rikke,NaN,Amager Vest,55.665070,12.583150,Entire home/apt,2168.0,2,112,2024-12-17,0.63,1,146,20,NaN

In [5]:
listings_df = listings_df.dropna(axis=1, how='all')

In [6]:
listings_df.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,31094,"Beautiful, spacious, central, renovated Penthouse",129976,Ebbe,Vesterbro-Kongens Enghave,55.666602,12.555283,Entire home/apt,NaN,3,19,2022-08-22,0.11,1,0,0
1,32379,"155 m2 artist flat on Vesterbro, with 2 bathrooms",140105,Lise,Vesterbro-Kongens Enghave,55.672638,12.552493,Entire home/apt,NaN,3,84,2024-10-28,0.47,2,0,3
2,32841,Cozy flat for Adults/Quiet for kids,142143,Anders & Maria,sterbro,55.711760,12.570910,Entire home/apt,NaN,100,7,2016-09-15,0.04,1,15,0
3,38499,0 min. from everything in Cph.,122489,Christina,Indre By,55.684288,12.573019,Entire home/apt,2550.0,7,34,2024-09-21,0.19,1,52,10
4,39055,Stylish apartment in central Copenhagen,167511,Rikke,Amager Vest,55.665070,12.583150,Entire home/apt,2168.0,2,112,2024-12-17,0.63,1,146,20

In [7]:
listings_df.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            5
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             8843
minimum_nights                       0
number_of_reviews                    0
last_review                       2964
reviews_per_month                 2964
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
dtype: int64

In [8]:
len(listings_df)

21722

In [10]:
# Load reviews data (prefer uncompressed)
if Path('reviews.csv').exists():
    reviews_df = load_csv_data('reviews.csv')
else:
    reviews_df = load_csv_data('reviews.csv.gz')

‚úÖ Loaded reviews.csv
   üìè Shape: (405687, 2)
   ÔøΩÔøΩ Memory: 29.02 MB

In [11]:
reviews_df.head()

   listing_id        date
0       31094  2010-08-16
1       31094  2011-01-05
2       31094  2012-06-10
3       31094  2013-08-24
4       31094  2013-08-26

In [12]:
len(reviews_df)

405687

In [13]:
# Load calendar data
calendar_df = load_csv_data('calendar.csv.gz')

‚úÖ Loaded calendar.csv.gz
   üìè Shape: (7928517, 7)
   ÔøΩÔøΩ Memory: 1679.34 MB

In [14]:
calendar_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,31094,2025-03-24,f,"$2,299.00",NaN,3.0,10.0
1,31094,2025-03-25,f,"$2,299.00",NaN,3.0,10.0
2,31094,2025-03-26,f,"$2,299.00",NaN,3.0,10.0
3,31094,2025-03-27,f,"$2,299.00",NaN,3.0,10.0
4,31094,2025-03-28,f,"$2,299.00",NaN,3.0,10.0

In [15]:
len(calendar_df)

7928517

In [16]:
calendar_df = calendar_df.dropna(axis=1, how='all')

In [17]:
calendar_df.head()

   listing_id        date available      price  minimum_nights  maximum_nights
0       31094  2025-03-24         f  $2,299.00             3.0            10.0
1       31094  2025-03-25         f  $2,299.00             3.0            10.0
2       31094  2025-03-26         f  $2,299.00             3.0            10.0
3       31094  2025-03-27         f  $2,299.00             3.0            10.0
4       31094  2025-03-28         f  $2,299.00             3.0            10.0

In [18]:
# Load neighbourhoods data
neighbourhoods_df = load_csv_data('neighbourhoods.csv')

‚úÖ Loaded neighbourhoods.csv
   üìè Shape: (11, 2)
   ÔøΩÔøΩ Memory: 0.00 MB

In [19]:
neighbourhoods_df.head()

   neighbourhood_group  neighbourhood
0                  NaN      Amager st
1                  NaN    Amager Vest
2                  NaN     Bispebjerg
3                  NaN   Brnshj-Husum
4                  NaN  Frederiksberg

In [20]:
neighbourhoods_df = neighbourhoods_df.dropna(axis=1, how='all')

In [21]:
neighbourhoods_df.head()

   neighbourhood
0      Amager st
1    Amager Vest
2     Bispebjerg
3   Brnshj-Husum
4  Frederiksberg

In [22]:
len(neighbourhoods_df)

11

In [ ]:
# Load GeoJSON data
neighbourhoods_geojson = load_geojson_data('neighbourhoods.geojson')

print("\n‚úÖ All data files loaded!")

# Store all dataframes in a dictionary for easy access
datasets = {
    'Listings': listings_df,
    'Reviews': reviews_df,
    'Calendar': calendar_df,
    'Neighbourhoods': neighbourhoods_df
}

In [5]:
print("ÔøΩÔøΩ COMPREHENSIVE DATA OVERVIEW\n")

for name, df in datasets.items():
    if df is not None:
        display_data_info(df, name)
    else:
        print(f"‚ùå {name} Dataset: Failed to load\n")

print("\nÔøΩÔøΩ Summary:")
successful_loads = sum(1 for df in datasets.values() if df is not None)
total_datasets = len(datasets)
print(f"   ‚úÖ Successfully loaded: {successful_loads}/{total_datasets} datasets")
print(f"   üìç GeoJSON: {'‚úÖ' if neighbourhoods_geojson is not None else '‚ùå'}")

ÔøΩÔøΩ COMPREHENSIVE DATA OVERVIEW


üìä Listings Dataset Overview:
   üìè Shape: (21722, 18)
   üìã Columns: ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'number_of_reviews_ltm', 'license']
   ÔøΩÔøΩ Memory: 8.92 MB
   ‚ùì Missing values: 58220
   ÔøΩÔøΩ Duplicates: 0

üìù Data Types:
int64      7
float64    6
object     5
Name: count, dtype: int64

üëÄ First 3 rows:
      id                                               name  host_id  \
0  31094  Beautiful, spacious, central, renovated Penthouse   129976
1  32379  155 m2 artist flat on Vesterbro, with 2 bathrooms   140105
2  32841                Cozy flat for Adults/Quiet for kids   142143

        host_name  neighbourhood_group              neighbourhood   latitude  \
0            Ebbe                  NaN  Vesterbro-Kongens Enghave  55.666602
1            Lise                  NaN  Vesterbro-Kongens Enghave  55.672638
2  Anders & Maria                  NaN                    sterbro  55.711760

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0  12.555283  Entire home/apt    NaN               3                 19
1  12.552493  Entire home/apt    NaN               3                 84
2  12.570910  Entire home/apt    NaN             100                  7

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2022-08-22               0.11                               1
1  2024-10-28               0.47                               2
2  2016-09-15               0.04                               1

   availability_365  number_of_reviews_ltm  license
0                 0                      0      NaN
1                 0                      3      NaN
2                15                      0      NaN

============================================================

üìä Reviews Dataset Overview:
   üìè Shape: (405687, 2)
   üìã Columns: ['listing_id', 'date']
   ÔøΩÔøΩ Memory: 25.92 MB
   ‚ùì Missing values: 0
   ÔøΩÔøΩ Duplicates: 5549

üìù Data Types:
int64     1
object    1
Name: count, dtype: int64

üëÄ First 3 rows:
   listing_id        date
0       31094  2010-08-16
1       31094  2011-01-05
2       31094  2012-06-10

============================================================

üìä Calendar Dataset Overview:
   üìè Shape: (7928517, 7)
   üìã Columns: ['listing_id', 'date', 'available', 'price', 'adjusted_price', 'minimum_nights', 'maximum_nights']
   ÔøΩÔøΩ Memory: 1497.87 MB
   ‚ùì Missing values: 7929319
   ÔøΩÔøΩ Duplicates: 0

üìù Data Types:
object     3
float64    3
int64      1
Name: count, dtype: int64

üëÄ First 3 rows:
   listing_id        date available      price  adjusted_price  \
0       31094  2025-03-24         f  $2,299.00             NaN
1       31094  2025-03-25         f  $2,299.00             NaN
2       31094  2025-03-26         f  $2,299.00             NaN

   minimum_nights  maximum_nights
0             3.0            10.0
1             3.0            10.0
2             3.0            10.0

============================================================

üìä Neighbourhoods Dataset Overview:
   üìè Shape: (11, 2)
   üìã Columns: ['neighbourhood_group', 'neighbourhood']
   ÔøΩÔøΩ Memory: 0.00 MB
   ‚ùì Missing values: 11
   ÔøΩÔøΩ Duplicates: 0

üìù Data Types:
float64    1
object     1
Name: count, dtype: int64

üëÄ First 3 rows:
   neighbourhood_group neighbourhood
0                  NaN     Amager st
1                  NaN   Amager Vest
2                  NaN    Bispebjerg

============================================================

ÔøΩÔøΩ Summary:
   ‚úÖ Successfully loaded: 4/4 datasets
   üìç GeoJSON: ‚úÖ

In [6]:
if listings_df is not None:
    print("üè† LISTINGS DATA ANALYSIS\n")
    
    # Basic statistics for numeric columns
    numeric_cols = listings_df.select_dtypes(include=[np.number]).columns
    if len(numeric_cols) > 0:
        print("üìà Numeric Columns Statistics:")
        print(listings_df[numeric_cols].describe())
    
    # Analyze categorical columns
    categorical_cols = listings_df.select_dtypes(include=['object']).columns
    print(f"\nüìã Categorical Columns ({len(categorical_cols)}):")
    for col in categorical_cols[:10]:  # Show first 10
        unique_count = listings_df[col].nunique()
        print(f"   {col}: {unique_count} unique values")
        if unique_count <= 15:  # Show values if not too many
            print(f"      Values: {list(listings_df[col].unique())}")
    
    # Check for price-related columns
    price_cols = [col for col in listings_df.columns if 'price' in col.lower()]
    if price_cols:
        print(f"\nüí∞ Price-related columns: {price_cols}")
        for col in price_cols:
            if col in listings_df.columns:
                print(f"   {col}: {listings_df[col].describe()}")
    
    # Check for location columns
    location_cols = [col for col in listings_df.columns if any(x in col.lower() for x in ['lat', 'lon', 'neighbourhood', 'city'])]
    if location_cols:
        print(f"\nüìç Location-related columns: {location_cols}")
else:
    print("‚ùå Listings data not available")

üè† LISTINGS DATA ANALYSIS

üìà Numeric Columns Statistics:
                 id       host_id  neighbourhood_group      latitude  \
count  2.172200e+04  2.172200e+04                  0.0  21722.000000
mean   5.991839e+17  1.543218e+08                  NaN     55.680526
std    5.172072e+17  1.800592e+08                  NaN      0.019103
min    3.109400e+04  5.130000e+02                  NaN     55.615660
25%    3.483605e+07  1.834102e+07                  NaN     55.666275
50%    7.038996e+17  6.907512e+07                  NaN     55.681850
75%    1.089093e+18  2.330120e+08                  NaN     55.695940
max    1.382678e+18  6.851944e+08                  NaN     55.732470

          longitude          price  minimum_nights  number_of_reviews  \
count  21722.000000   12879.000000    21722.000000       21722.000000
mean      12.558699    1291.329296        4.613341          18.676319
std        0.031187    1280.272641       17.624078          44.574748
min       12.453748     136.000000        1.000000           0.000000
25%       12.540844     840.000000        2.000000           2.000000
50%       12.555170    1100.000000        3.000000           7.000000
75%       12.580650    1500.000000        4.000000          19.000000
max       12.639720  100000.000000     1111.000000        2277.000000

       reviews_per_month  calculated_host_listings_count  availability_365  \
count       18758.000000                    21722.000000      21722.000000
mean            0.637023                        4.186447         80.215266
std             1.313397                       22.588550        113.206850
min             0.010000                        1.000000          0.000000
25%             0.180000                        1.000000          0.000000
50%             0.360000                        1.000000         15.000000
75%             0.710000                        1.000000        126.000000
max            84.840000                      215.000000        365.000000

       number_of_reviews_ltm  license
count           21722.000000      0.0
mean                5.120753      NaN
std                12.900415      NaN
min                 0.000000      NaN
25%                 0.000000      NaN
50%                 2.000000      NaN
75%                 6.000000      NaN
max               773.000000      NaN

üìã Categorical Columns (5):
   name: 19522 unique values
   host_name: 5743 unique values
   neighbourhood: 11 unique values
      Values: ['Vesterbro-Kongens Enghave', 'sterbro', 'Indre By', 'Amager Vest', 'Nrrebro', 'Frederiksberg', 'Bispebjerg', 'Amager st', 'Valby', 'Vanlse', 'Brnshj-Husum']
   room_type: 4 unique values
      Values: ['Entire home/apt', 'Private room', 'Shared room', 'Hotel room']
   last_review: 1689 unique values

üí∞ Price-related columns: ['price']
   price: count     12879.000000
mean       1291.329296
std        1280.272641
min         136.000000
25%         840.000000
50%        1100.000000
75%        1500.000000
max      100000.000000
Name: price, dtype: float64

üìç Location-related columns: ['neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'calculated_host_listings_count']

In [7]:
if reviews_df is not None:
    print("‚≠ê REVIEWS DATA ANALYSIS\n")
    
    # Basic statistics
    print("ÔøΩÔøΩ Reviews Statistics:")
    print(reviews_df.describe())
    
    # Check for rating columns
    rating_cols = [col for col in reviews_df.columns if 'rating' in col.lower() or 'score' in col.lower()]
    if rating_cols:
        print(f"\n‚≠ê Rating columns: {rating_cols}")
        for col in rating_cols:
            if col in reviews_df.columns:
                print(f"   {col}: {reviews_df[col].describe()}")
    
    # Check for date columns
    date_cols = [col for col in reviews_df.columns if 'date' in col.lower()]
    if date_cols:
        print(f"\nüìÖ Date columns: {date_cols}")
        for col in date_cols:
            try:
                reviews_df[col] = pd.to_datetime(reviews_df[col])
                print(f"   ‚úÖ Converted {col} to datetime")
                print(f"   ÔøΩÔøΩ Range: {reviews_df[col].min()} to {reviews_df[col].max()}")
            except:
                print(f"   ‚ùå Could not convert {col} to datetime")
    
    # Show sample reviews if comments column exists
    if 'comments' in reviews_df.columns:
        print(f"\nÔøΩÔøΩ Sample Reviews:")
        sample_reviews = reviews_df['comments'].dropna().head(2)
        for i, review in enumerate(sample_reviews, 1):
            preview = review[:150] + "..." if len(review) > 150 else review
            print(f"   Review {i}: {preview}")
else:
    print("‚ùå Reviews data not available")

‚≠ê REVIEWS DATA ANALYSIS

ÔøΩÔøΩ Reviews Statistics:
         listing_id
count  4.056870e+05
mean   2.612276e+17
std    4.168974e+17
min    3.109400e+04
25%    1.209163e+07
50%    3.296784e+07
75%    6.453624e+17
max    1.373734e+18

üìÖ Date columns: ['date']
   ‚úÖ Converted date to datetime
   ÔøΩÔøΩ Range: 2010-07-25 00:00:00 to 2025-03-26 00:00:00

In [8]:
if calendar_df is not None:
    print("üìÖ CALENDAR DATA ANALYSIS\n")
    
    # Basic statistics
    print("üìä Calendar Statistics:")
    print(calendar_df.describe())
    
    # Check for date columns
    date_cols = [col for col in calendar_df.columns if 'date' in col.lower()]
    if date_cols:
        print(f"\nüìÖ Date columns: {date_cols}")
        for col in date_cols:
            try:
                calendar_df[col] = pd.to_datetime(calendar_df[col])
                print(f"   ‚úÖ Converted {col} to datetime")
                print(f"   üìÖ Range: {calendar_df[col].min()} to {calendar_df[col].max()}")
            except:
                print(f"   ‚ùå Could not convert {col} to datetime")
    
    # Check for price columns
    price_cols = [col for col in calendar_df.columns if 'price' in col.lower()]
    if price_cols:
        print(f"\nüí∞ Price columns: {price_cols}")
        for col in price_cols:
            if col in calendar_df.columns:
                print(f"   {col}: {calendar_df[col].describe()}")
    
    # Check for availability columns
    avail_cols = [col for col in calendar_df.columns if 'available' in col.lower()]
    if avail_cols:
        print(f"\n‚úÖ Availability columns: {avail_cols}")
        for col in avail_cols:
            if col in calendar_df.columns:
                print(f"   {col}: {calendar_df[col].value_counts()}")
else:
    print("‚ùå Calendar data not available")

üìÖ CALENDAR DATA ANALYSIS

üìä Calendar Statistics:
         listing_id  adjusted_price  minimum_nights  maximum_nights
count  7.928517e+06             0.0    7.928116e+06    7.928116e+06
mean   5.991821e+17             NaN    4.658711e+00    3.914670e+02
std    5.171949e+17             NaN    1.699077e+01    4.343241e+02
min    3.109400e+04             NaN    1.000000e+00    1.000000e+00
25%    3.483549e+07             NaN    2.000000e+00    2.100000e+01
50%    7.037323e+17             NaN    3.000000e+00    3.650000e+02
75%    1.089095e+18             NaN    4.000000e+00    7.000000e+02
max    1.382678e+18             NaN    1.111000e+03    1.125000e+03

üìÖ Date columns: ['date']
   ‚úÖ Converted date to datetime
   üìÖ Range: 2025-03-23 00:00:00 to 2026-03-27 00:00:00

üí∞ Price columns: ['price', 'adjusted_price']
   price: count       7928517
unique         1625
top       $1,000.00
freq         501516
Name: price, dtype: object
   adjusted_price: count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: adjusted_price, dtype: float64

‚úÖ Availability columns: ['available']
   available: available
f    6143151
t    1785366
Name: count, dtype: int64

In [9]:
print("üîç DATA QUALITY ASSESSMENT\n")

for name, df in datasets.items():
    if df is not None:
        print(f"üìä {name} Dataset Quality:")
        
        # Missing values analysis
        missing_values = df.isnull().sum()
        missing_percentage = (missing_values / len(df)) * 100
        
        print("   ‚ùì Missing values by column:")
        for col in df.columns:
            if missing_values[col] > 0:
                print(f"      {col}: {missing_values[col]} ({missing_percentage[col]:.2f}%)")
        
        # Duplicate analysis
        duplicates = df.duplicated().sum()
        print(f"   üîÑ Duplicate rows: {duplicates}")
        
        # Data types summary
        print(f"   üìù Data types: {df.dtypes.value_counts().to_dict()}")
        print()
    else:
        print(f"‚ùå {name} Dataset: Not available for quality assessment\n")

üîç DATA QUALITY ASSESSMENT

üìä Listings Dataset Quality:
   ‚ùì Missing values by column:
      host_name: 5 (0.02%)
      neighbourhood_group: 21722 (100.00%)
      price: 8843 (40.71%)
      last_review: 2964 (13.65%)
      reviews_per_month: 2964 (13.65%)
      license: 21722 (100.00%)
   üîÑ Duplicate rows: 0
   üìù Data types: {dtype('int64'): 7, dtype('float64'): 6, dtype('O'): 5}

üìä Reviews Dataset Quality:
   ‚ùì Missing values by column:
   üîÑ Duplicate rows: 5549
   üìù Data types: {dtype('int64'): 1, dtype('<M8[ns]'): 1}

üìä Calendar Dataset Quality:
   ‚ùì Missing values by column:
      adjusted_price: 7928517 (100.00%)
      minimum_nights: 401 (0.01%)
      maximum_nights: 401 (0.01%)
   üîÑ Duplicate rows: 0
   üìù Data types: {dtype('float64'): 3, dtype('O'): 2, dtype('<M8[ns]'): 1, dtype('int64'): 1}

üìä Neighbourhoods Dataset Quality:
   ‚ùì Missing values by column:
      neighbourhood_group: 11 (100.00%)
   üîÑ Duplicate rows: 0
   üìù Data types: {dtype('float64'): 1, dtype('O'): 1}

In [10]:
print("ÔøΩÔøΩ ANALYSIS SUMMARY\n")

print("üìä Successfully loaded datasets:")
for name, df in datasets.items():
    status = "‚úÖ" if df is not None else "‚ùå"
    shape = df.shape if df is not None else "N/A"
    print(f"   {status} {name}: {shape}")

print(f"\nüìç GeoJSON: {'‚úÖ' if neighbourhoods_geojson is not None else '‚ùå'}")

print("\nüöÄ Recommended Next Steps:")
print("1. üîß Data Cleaning: Handle missing values and data type conversions")
print("2. ÔøΩÔøΩ Data Merging: Join datasets on common keys (listing_id, neighbourhood)")
print("3. üìä EDA: Explore relationships between variables")
print("4. üìà Advanced Visualizations: Create interactive plots and maps")
print("5. üéØ Feature Engineering: Create new features for analysis")
print("6. ü§ñ Machine Learning: Build predictive models")
print("7. ÔøΩÔøΩ Insights: Generate actionable business insights")

print("\nüí° Key Analysis Opportunities:")
if listings_df is not None:
    print("   ‚Ä¢ Price analysis and market trends")
    print("   ‚Ä¢ Location-based insights")
    print("   ‚Ä¢ Property type and amenity analysis")
if reviews_df is not None:
    print("   ‚Ä¢ Sentiment analysis of reviews")
    print("   ‚Ä¢ Rating patterns and trends")
if calendar_df is not None:
    print("   ‚Ä¢ Seasonal pricing patterns")
    print("   ‚Ä¢ Availability analysis")

print("\n‚úÖ Ready for advanced analysis! üöÄ")

ÔøΩÔøΩ ANALYSIS SUMMARY

üìä Successfully loaded datasets:
   ‚úÖ Listings: (21722, 18)
   ‚úÖ Reviews: (405687, 2)
   ‚úÖ Calendar: (7928517, 7)
   ‚úÖ Neighbourhoods: (11, 2)

üìç GeoJSON: ‚úÖ

üöÄ Recommended Next Steps:
1. üîß Data Cleaning: Handle missing values and data type conversions
2. ÔøΩÔøΩ Data Merging: Join datasets on common keys (listing_id, neighbourhood)
3. üìä EDA: Explore relationships between variables
4. üìà Advanced Visualizations: Create interactive plots and maps
5. üéØ Feature Engineering: Create new features for analysis
6. ü§ñ Machine Learning: Build predictive models
7. ÔøΩÔøΩ Insights: Generate actionable business insights

üí° Key Analysis Opportunities:
   ‚Ä¢ Price analysis and market trends
   ‚Ä¢ Location-based insights
   ‚Ä¢ Property type and amenity analysis
   ‚Ä¢ Sentiment analysis of reviews
   ‚Ä¢ Rating patterns and trends
   ‚Ä¢ Seasonal pricing patterns
   ‚Ä¢ Availability analysis

‚úÖ Ready for advanced analysis! üöÄ

In [17]:
for name, df in datasets.items():
    print(name)
    print(df.head())

Listings
      id                                               name  host_id  \
0  31094  Beautiful, spacious, central, renovated Penthouse   129976
1  32379  155 m2 artist flat on Vesterbro, with 2 bathrooms   140105
2  32841                Cozy flat for Adults/Quiet for kids   142143
3  38499                     0 min. from everything in Cph.   122489
4  39055            Stylish apartment in central Copenhagen   167511

        host_name  neighbourhood_group              neighbourhood   latitude  \
0            Ebbe                  NaN  Vesterbro-Kongens Enghave  55.666602
1            Lise                  NaN  Vesterbro-Kongens Enghave  55.672638
2  Anders & Maria                  NaN                    sterbro  55.711760
3       Christina                  NaN                   Indre By  55.684288
4           Rikke                  NaN                Amager Vest  55.665070

   longitude        room_type   price  minimum_nights  number_of_reviews  \
0  12.555283  Entire home/apt     NaN               3                 19
1  12.552493  Entire home/apt     NaN               3                 84
2  12.570910  Entire home/apt     NaN             100                  7
3  12.573019  Entire home/apt  2550.0               7                 34
4  12.583150  Entire home/apt  2168.0               2                112

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2022-08-22               0.11                               1
1  2024-10-28               0.47                               2
2  2016-09-15               0.04                               1
3  2024-09-21               0.19                               1
4  2024-12-17               0.63                               1

   availability_365  number_of_reviews_ltm  license
0                 0                      0      NaN
1                 0                      3      NaN
2                15                      0      NaN
3                52                     10      NaN
4               146                     20      NaN
Reviews
   listing_id       date
0       31094 2010-08-16
1       31094 2011-01-05
2       31094 2012-06-10
3       31094 2013-08-24
4       31094 2013-08-26
Calendar
   listing_id       date available      price  adjusted_price  minimum_nights  \
0       31094 2025-03-24         f  $2,299.00             NaN             3.0
1       31094 2025-03-25         f  $2,299.00             NaN             3.0
2       31094 2025-03-26         f  $2,299.00             NaN             3.0
3       31094 2025-03-27         f  $2,299.00             NaN             3.0
4       31094 2025-03-28         f  $2,299.00             NaN             3.0

   maximum_nights
0            10.0
1            10.0
2            10.0
3            10.0
4            10.0
Neighbourhoods
   neighbourhood_group  neighbourhood
0                  NaN      Amager st
1                  NaN    Amager Vest
2                  NaN     Bispebjerg
3                  NaN   Brnshj-Husum
4                  NaN  Frederiksberg

In [18]:
def remove_completely_nan_columns(df, name):
    """Remove columns that are completely NaN and report the changes"""
    if df is None:
        return df
    
    # Find columns that are completely NaN
    completely_nan_cols = df.columns[df.isnull().all()].tolist()
    
    if completely_nan_cols:
        print(f"ÔøΩÔøΩÔ∏è Removing {len(completely_nan_cols)} completely NaN columns from {name}:")
        for col in completely_nan_cols:
            print(f"   ‚ùå {col}")
        
        # Remove the columns
        df_cleaned = df.drop(columns=completely_nan_cols)
        
        print(f"‚úÖ {name} shape after cleaning: {df_cleaned.shape}")
        print(f"   üìè Removed {len(completely_nan_cols)} columns")
        print()
        
        return df_cleaned
    else:
        print(f"‚úÖ {name}: No completely NaN columns found")
        print()
        return df

# Clean all datasets
print("üßπ CLEANING COMPLETELY NaN COLUMNS\n")

# Clean each dataset
for name, df in datasets.items():
    if df is not None:
        datasets[name] = remove_completely_nan_columns(df, name)

# Update the individual dataframe variables
if 'Listings' in datasets:
    listings_df = datasets['Listings']
if 'Reviews' in datasets:
    reviews_df = datasets['Reviews']
if 'Calendar' in datasets:
    calendar_df = datasets['Calendar']
if 'Neighbourhoods' in datasets:
    neighbourhoods_df = datasets['Neighbourhoods']

print("‚úÖ All datasets cleaned!")

üßπ CLEANING COMPLETELY NaN COLUMNS

ÔøΩÔøΩÔ∏è Removing 2 completely NaN columns from Listings:
   ‚ùå neighbourhood_group
   ‚ùå license
‚úÖ Listings shape after cleaning: (21722, 16)
   üìè Removed 2 columns

‚úÖ Reviews: No completely NaN columns found

ÔøΩÔøΩÔ∏è Removing 1 completely NaN columns from Calendar:
   ‚ùå adjusted_price
‚úÖ Calendar shape after cleaning: (7928517, 6)
   üìè Removed 1 columns

ÔøΩÔøΩÔ∏è Removing 1 completely NaN columns from Neighbourhoods:
   ‚ùå neighbourhood_group
‚úÖ Neighbourhoods shape after cleaning: (11, 1)
   üìè Removed 1 columns

‚úÖ All datasets cleaned!

In [19]:
print("ÔøΩÔøΩ VERIFICATION AFTER CLEANING\n")

for name, df in datasets.items():
    if df is not None:
        print(f"ÔøΩÔøΩ {name} Dataset:")
        print(f"   üìè Shape: {df.shape}")
        print(f"   üìã Columns: {len(df.columns)}")
        
        # Check for any remaining completely NaN columns
        completely_nan_cols = df.columns[df.isnull().all()].tolist()
        if completely_nan_cols:
            print(f"   ‚ö†Ô∏è Still has {len(completely_nan_cols)} completely NaN columns")
        else:
            print(f"   ‚úÖ No completely NaN columns remaining")
        
        # Show memory usage
        memory_mb = df.memory_usage(deep=True).sum() / 1024**2
        print(f"   ÔøΩÔøΩ Memory: {memory_mb:.2f} MB")
        print()
    else:
        print(f"‚ùå {name} Dataset: Not available\n")

print("üéØ Ready for further analysis!")

ÔøΩÔøΩ VERIFICATION AFTER CLEANING

ÔøΩÔøΩ Listings Dataset:
   üìè Shape: (21722, 16)
   üìã Columns: 16
   ‚úÖ No completely NaN columns remaining
   ÔøΩÔøΩ Memory: 8.84 MB

ÔøΩÔøΩ Reviews Dataset:
   üìè Shape: (405687, 2)
   üìã Columns: 2
   ‚úÖ No completely NaN columns remaining
   ÔøΩÔøΩ Memory: 6.19 MB

ÔøΩÔøΩ Calendar Dataset:
   üìè Shape: (7928517, 6)
   üìã Columns: 6
   ‚úÖ No completely NaN columns remaining
   ÔøΩÔøΩ Memory: 1051.76 MB

ÔøΩÔøΩ Neighbourhoods Dataset:
   üìè Shape: (11, 1)
   üìã Columns: 1
   ‚úÖ No completely NaN columns remaining
   ÔøΩÔøΩ Memory: 0.00 MB

üéØ Ready for further analysis!

In [21]:
print("üîç CHECKING FOR LISTING ID COLUMNS\n")

# Check which datasets have listing_id columns
listing_id_cols = {}
for name, df in datasets.items():
    if df is not None:
        # Look for listing_id columns (case insensitive)
        id_cols = [col for col in df.columns if 'listing_id' in col.lower() or col.lower() == 'id']
        if id_cols:
            listing_id_cols[name] = id_cols
            print(f"‚úÖ {name}: Found ID columns - {id_cols}")
        else:
            print(f"‚ùå {name}: No listing ID columns found")
    else:
        print(f"‚ùå {name}: Dataset not available")

print(f"\nüìä Datasets with ID columns: {list(listing_id_cols.keys())}")

üîç CHECKING FOR LISTING ID COLUMNS

‚úÖ Listings: Found ID columns - ['id']
‚úÖ Reviews: Found ID columns - ['listing_id']
‚úÖ Calendar: Found ID columns - ['listing_id']
‚ùå Neighbourhoods: No listing ID columns found

üìä Datasets with ID columns: ['Listings', 'Reviews', 'Calendar']

In [22]:
print("üîó ANALYZING LISTING ID RELATIONSHIPS\n")

# Check for common listing IDs between datasets
if 'Listings' in listing_id_cols and listings_df is not None:
    listings_ids = set(listings_df[listing_id_cols['Listings'][0]].dropna())
    print(f"üìä Listings dataset has {len(listings_ids)} unique listing IDs")
    
    # Check Reviews dataset
    if 'Reviews' in listing_id_cols and reviews_df is not None:
        reviews_ids = set(reviews_df[listing_id_cols['Reviews'][0]].dropna())
        common_reviews = listings_ids.intersection(reviews_ids)
        print(f"‚≠ê Reviews dataset has {len(reviews_ids)} unique listing IDs")
        print(f"   üîó Common with Listings: {len(common_reviews)} ({len(common_reviews)/len(listings_ids)*100:.1f}%)")
    
    # Check Calendar dataset
    if 'Calendar' in listing_id_cols and calendar_df is not None:
        calendar_ids = set(calendar_df[listing_id_cols['Calendar'][0]].dropna())
        common_calendar = listings_ids.intersection(calendar_ids)
        print(f"üìÖ Calendar dataset has {len(calendar_ids)} unique listing IDs")
        print(f"   üîó Common with Listings: {len(common_calendar)} ({len(common_calendar)/len(listings_ids)*100:.1f}%)")
    
    print()

üîó ANALYZING LISTING ID RELATIONSHIPS

üìä Listings dataset has 21722 unique listing IDs
‚≠ê Reviews dataset has 18758 unique listing IDs
   üîó Common with Listings: 18758 (86.4%)
üìÖ Calendar dataset has 21722 unique listing IDs
   üîó Common with Listings: 21722 (100.0%)

In [24]:
print("üîó JOINING DATASETS ON LISTING ID (FIXED)\n")

# Start with listings as the base dataset
if listings_df is not None and 'Listings' in listing_id_cols:
    base_df = listings_df.copy()
    listings_id_col = listing_id_cols['Listings'][0]
    print(f"ÔøΩÔøΩ Base dataset: Listings ({base_df.shape})")
    print(f"   ÔøΩÔøΩ Using ID column: {listings_id_col}")
    
    # Join with Reviews
    if 'Reviews' in listing_id_cols and reviews_df is not None:
        reviews_id_col = listing_id_cols['Reviews'][0]
        print(f"\nüîÑ Joining with Reviews dataset...")
        
        # Get actual columns from reviews dataset
        reviews_actual_cols = reviews_df.columns.tolist()
        print(f"   ÔøΩÔøΩ Available columns: {reviews_actual_cols}")
        
        # Create reviews summary based on available columns
        reviews_summary = reviews_df.groupby(reviews_id_col).agg({
            reviews_id_col: 'count'  # Count of reviews per listing
        }).rename(columns={reviews_id_col: 'total_reviews'})
        
        # Add rating columns if they exist
        rating_cols = [col for col in reviews_df.columns if 'rating' in col.lower() or 'score' in col.lower()]
        for col in rating_cols:
            reviews_summary[f'avg_{col}'] = reviews_df.groupby(reviews_id_col)[col].mean()
        
        # Add date columns if they exist
        date_cols = [col for col in reviews_df.columns if 'date' in col.lower()]
        for col in date_cols:
            reviews_summary[f'latest_{col}'] = reviews_df.groupby(reviews_id_col)[col].max()
            reviews_summary[f'earliest_{col}'] = reviews_df.groupby(reviews_id_col)[col].min()
        
        # Add comment length if comments column exists
        comment_cols = [col for col in reviews_df.columns if 'comment' in col.lower()]
        for col in comment_cols:
            reviews_summary[f'avg_{col}_length'] = reviews_df.groupby(reviews_id_col)[col].apply(
                lambda x: x.str.len().mean() if x.dtype == 'object' else 0
            )
        
        # Join with base dataset
        base_df = base_df.merge(
            reviews_summary, 
            left_on=listings_id_col, 
            right_index=True, 
            how='left'
        )
        
        print(f"   ‚úÖ Joined Reviews summary: {base_df.shape}")
        print(f"   üìä Reviews columns added: {list(reviews_summary.columns)}")
    
    # Join with Calendar
    if 'Calendar' in listing_id_cols and calendar_df is not None:
        calendar_id_col = listing_id_cols['Calendar'][0]
        print(f"\nüîÑ Joining with Calendar dataset...")
        
        # Create calendar summary (aggregate calendar data per listing)
        calendar_summary = calendar_df.groupby(calendar_id_col).agg({
            'available': lambda x: (x == 't').sum() if 'available' in calendar_df.columns else 0,  # Available days
        }).rename(columns={'available': 'available_days'})
        
        # Add total calendar days
        calendar_summary['total_calendar_days'] = calendar_df.groupby(calendar_id_col).size()
        calendar_summary['availability_rate'] = calendar_summary['available_days'] / calendar_summary['total_calendar_days']
        
        # Add price analysis if price column exists
        if 'price' in calendar_df.columns:
            calendar_summary['avg_price'] = calendar_df.groupby(calendar_id_col)['price'].apply(
                lambda x: pd.to_numeric(x.str.replace('$', '').str.replace(',', ''), errors='coerce').mean()
            )
        
        # Join with base dataset
        base_df = base_df.merge(
            calendar_summary, 
            left_on=listings_id_col, 
            right_index=True, 
            how='left'
        )
        
        print(f"   ‚úÖ Joined Calendar summary: {base_df.shape}")
        print(f"   üìä Calendar columns added: {list(calendar_summary.columns)}")
    
    # Join with Neighbourhoods (if it has neighbourhood info)
    if neighbourhoods_df is not None:
        print(f"\nüîÑ Adding neighbourhood information...")
        
        # Check if listings has neighbourhood column
        neighbourhood_cols = [col for col in base_df.columns if 'neighbourhood' in col.lower()]
        if neighbourhood_cols:
            neighbourhood_col = neighbourhood_cols[0]
            base_df = base_df.merge(
                neighbourhoods_df,
                left_on=neighbourhood_col,
                right_on='neighbourhood',
                how='left'
            )
            print(f"   ‚úÖ Joined Neighbourhoods: {base_df.shape}")
    
    print(f"\nüéØ Final joined dataset shape: {base_df.shape}")
    print(f"üìã Total columns: {len(base_df.columns)}")
    
    # Store the joined dataset
    joined_df = base_df
    
else:
    print("‚ùå Cannot join datasets - Listings dataset or ID column not available")
    joined_df = None

üîó JOINING DATASETS ON LISTING ID (FIXED)

ÔøΩÔøΩ Base dataset: Listings ((21722, 16))
   ÔøΩÔøΩ Using ID column: id

üîÑ Joining with Reviews dataset...
   ÔøΩÔøΩ Available columns: ['listing_id', 'date']
   ‚úÖ Joined Reviews summary: (21722, 19)
   üìä Reviews columns added: ['total_reviews', 'latest_date', 'earliest_date']

üîÑ Joining with Calendar dataset...
   ‚úÖ Joined Calendar summary: (21722, 23)
   üìä Calendar columns added: ['available_days', 'total_calendar_days', 'availability_rate', 'avg_price']

üîÑ Adding neighbourhood information...
   ‚úÖ Joined Neighbourhoods: (21722, 23)

üéØ Final joined dataset shape: (21722, 23)
üìã Total columns: 23

In [25]:
if joined_df is not None:
    print("üìä JOINED DATASET OVERVIEW\n")
    
    print(f"üìè Shape: {joined_df.shape}")
    print(f"üìã Columns: {len(joined_df.columns)}")
    print(f"ÔøΩÔøΩ Memory: {joined_df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
    
    # Show new columns from joins
    original_listings_cols = set(listings_df.columns)
    new_cols = [col for col in joined_df.columns if col not in original_listings_cols]
    
    if new_cols:
        print(f"\nüÜï New columns from joins ({len(new_cols)}):")
        for col in new_cols:
            missing_pct = (joined_df[col].isnull().sum() / len(joined_df)) * 100
            print(f"   ‚Ä¢ {col:<30} (Missing: {missing_pct:5.1f}%)")
    
    # Show sample of joined data
    print(f"\nüëÄ Sample of joined data:")
    print(joined_df.head(3))
    
    # Show data types
    print(f"\nüìù Data types:")
    print(joined_df.dtypes.value_counts())
    
else:
    print("‚ùå No joined dataset available")

üìä JOINED DATASET OVERVIEW

üìè Shape: (21722, 23)
üìã Columns: 23
ÔøΩÔøΩ Memory: 10.00 MB

üÜï New columns from joins (7):
   ‚Ä¢ total_reviews                  (Missing:  13.6%)
   ‚Ä¢ latest_date                    (Missing:  13.6%)
   ‚Ä¢ earliest_date                  (Missing:  13.6%)
   ‚Ä¢ available_days                 (Missing:   0.0%)
   ‚Ä¢ total_calendar_days            (Missing:   0.0%)
   ‚Ä¢ availability_rate              (Missing:   0.0%)
   ‚Ä¢ avg_price                      (Missing:   0.0%)

üëÄ Sample of joined data:
      id                                               name  host_id  \
0  31094  Beautiful, spacious, central, renovated Penthouse   129976
1  32379  155 m2 artist flat on Vesterbro, with 2 bathrooms   140105
2  32841                Cozy flat for Adults/Quiet for kids   142143

        host_name              neighbourhood   latitude  longitude  \
0            Ebbe  Vesterbro-Kongens Enghave  55.666602  12.555283
1            Lise  Vesterbro-Kongens Enghave  55.672638  12.552493
2  Anders & Maria                    sterbro  55.711760  12.570910

         room_type  price  minimum_nights  ...  \
0  Entire home/apt    NaN               3  ...
1  Entire home/apt    NaN               3  ...
2  Entire home/apt    NaN             100  ...

   calculated_host_listings_count availability_365  number_of_reviews_ltm  \
0                               1                0                      0
1                               2                0                      3
2                               1               15                      0

   total_reviews  latest_date  earliest_date  available_days  \
0           19.0   2022-08-22     2010-08-16               0
1           84.0   2024-10-28     2010-08-23               0
2            7.0   2016-09-15     2010-07-25              15

  total_calendar_days availability_rate  avg_price
0                 365          0.000000     2299.0
1                 365          0.000000      250.0
2                 365          0.041096       79.0

[3 rows x 23 columns]

üìù Data types:
int64             9
float64           7
object            5
datetime64[ns]    2
Name: count, dtype: int64